/* ----------------------------------------------------*/


body{
    background-color: whitesmoke;
    font-size: 1em;       
}
.header{
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
    margin-top: 0.5em;
}
.signup_form{
    display: inline-flex;
    justify-content: center;
    border: none;
    padding: 2em 2.5em;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0px 0.2em 0.5em rgba(0, 0, 0, 0.3);
    max-width: 25em;
    flex: 1;
}
.flex{
    display: flex;
    justify-content: center;
    padding: 2em;
    padding-top: 0.5em;
}
label{
    font-size: 1.2em;
}
.form-css input, select{
    height: 2.3em;
    width: 100%;
    margin-bottom: 0.7em;
    border-radius: 0.7em;
    border: 1px solid black;
    padding: 0.3em;
    font-size: 1.1em;  
    box-sizing: border-box;
}

.showpass{
    font-size: 1.2em;
}
.show_pass{
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}


.errors{
    color: red;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    display: block;
}
.success{
    display: flex;
    font-size: 1em;
    justify-content: center;
    margin-bottom: 1.2em;
    padding: 0.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.buttonn{
    display: flex;
    justify-content: center;
    margin-top: 1.4em;
}
.add-btn{
    background-color: #0069d9;
    border-radius: 0.4em;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.1em;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 100%
}
.add-btn:hover{
    background-color: #0a519d;
}


@media only screen and (max-width: 600px) {
    .header{
        margin-top: 0;
    }
    .flex{
        padding-top: 0.5em;
    }
    .signup_form{
        padding-top: 1.5em;
        padding-bottom: 1.5em
    }
}