/* --------------------------------------------------- */

/* login */
body{
    background-color: whitesmoke;
}

.header{
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.login_form{
    display: inline-flex;
    justify-content: center;
    border: none;
    padding: 3em;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0,0, 0, 0.3);
    max-width: 20em;
}
#id_username, #id_password{
    width: 100%;
    height: 1.4em;
    margin-bottom: 1.5em;
    border-radius: 0.5em;
    border: 1px solid black;
    font-size: 1.2em;
    padding: 0.2em;
    overflow: hidden;

}
label{
    font-size: 1.5em;
    display: block;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
    flex-basis: 0;
}

.register-css, .login-css{
    background-color: #0069d9;
    border-radius: 0.3em;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.8em;
    font-size: 1.3em;
    border: none;
    text-align: center;
    margin-top: 0.3em;
    cursor: pointer;
    width: 100%;
}
.login-css{
    margin-right: 0.3em;
}
.register-css:hover, .login-css:hover{
    background-color: #0a519d;
}
.showpass{
    font-size: 1.2em;
}
.show_pass{
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.2em;
    cursor: pointer;
}
.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5em;
}
.errors{
    color: red;
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    display: block;
}
.success{
    display: flex;
    font-size: 1em;
    justify-content: center;
    margin-bottom: 1.2em;
    padding: 0.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

@media only screen and (max-width: 600px) {
    .btn{
        flex-direction: column;
        margin-top: 2em;
    }
    .login-css{
        margin-left: 0;
        width: 100%;
    }
    .register-css{
        box-sizing: border-box;
    }
    
    .header{
        margin-top: 1em;
    }
    .login_form{
        padding: 2em;
    }
}