<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

    <div class="message-js">
        {% if messages %}
            {% for message in messages %}
                <span class="{{message.tags}}">{{message}}</span>
            {% endfor %}
        {% endif %}
    </div>

    <div class="errors">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}
    </div>

    <div class="header">Enter the given details</div>


    <div class="flex">
        <div class="signup_form">

            <form action="{% url "register" %}" method="post" novalidate>
                {% csrf_token %}
                
                <label for="role">Roles:</label>
                <select name="roles" id="">
                    <option value="superadmin">Super admin</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select> <br> <br>
        
                <div class="form-css">
                    {% for i in form %}
                        {{i.label_tag}} {{i}} <span class="errors">{{i.errors|striptags}}</span>
                    {% endfor %}
                </div>

                <div class="check">
                    <input type="checkbox" class="show_pass" onclick="togglePassword_signup()"> <span class="showpass">Show password</span>
                </div>
        
                <div class="btn">
                    <input class="signupcss" type="submit" value="Submit">
                    <a role="button" class="login-css" href="{% url "login" %}">Login</a>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static "js/script.js" %}"></script>

</body>
</html>
